* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --yapper-color: #50b7f5;
    --yapper-bg: #e6ecf0;
    --sidebar-width: 300px;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container-fluid.login-container input {
    background: none;
    border: none;
    border-bottom: 1px solid #0000005d;
    border-radius: 0;
}

.container-fluid.register-container input {
    background: none;
    border: none;
    border-bottom: 1px solid #0000005d;
    border-radius: 0;
}

.form-group {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #0000005d;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
    margin-right: 24px;
}

.nav-link i {
    padding: 20px;
    margin-right: 10px;
}

.nav-link span {
    font-weight: 700;
    text-decoration: none;
}

.nav-link.active {
    color: var(--yapper-color);
}

.nav-link.active2 {
    border-bottom: 2px solid #ccc;
}

.nav-link:hover {
    background: var(--yapper-bg);
    border-radius: 30px;
    color: var(--yapper-color);
    transition: color 100ms ease-out;
}

.home-content::-webkit-scrollbar {
    display: none;
}

.home-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-container {
    margin-right: var(--sidebar-width);
}

.post-yap-input textarea:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

.btn-yapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yapper-color);
    color: var(--yapper-bg);
    font-weight: 800;
    width: 100%;
    text-align: center;
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.btn-yapper-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9534f;
    color: var(--yapper-bg);
    font-weight: 800;
    width: 100%;
    text-align: center;
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.btn-yapper-success {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5cb85c;
    color: var(--yapper-bg);
    font-weight: 800;
    width: 100%;
    text-align: center;
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.round-30 {
    border-radius: 30px;
}

.border-yapper { 
    border: 1px solid var(--yapper-bg);
}

.border-yapper-right { 
    border-right: 1px solid var(--yapper-bg);
}

.container-fluid.profile-container input {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}

.search-posts input:focus {
    outline: 1px solid var(--yapper-color);
}

.close-button:hover,
.close-button:focus {
    opacity: 1;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}